<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Endpoint" value="http://WayneWebDev/WCF/ErrorReporting/ErrorReportingService.svc/"/>
    <add key="Environment" value="Local"/>
    <add key="LogName" value="DistributorPortal"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
